@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf')
      format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf')
      format('truetype-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'RobotoMono';
    src: url('/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf')
      format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  /* .fraunces-i {
    font-family: 'Fraunces', system-ui;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-variation-settings:
      'SOFT' 50,
      'WONK' 0;
  }

  .fraunces-section-header {
    font-family: 'Fraunces', system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      'SOFT' 0,
      'WONK' 1;
    font-size: 3rem;
  } */