@import url(./fonts.css);
@import url(./variables.css);



:root {
  --border-color: var(--border-color-light);
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --box-shadow: var(--box-shadow-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: var(--border-color-dark);
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --box-shadow: var(--box-shadow-dark);
  }
}

* {
  box-sizing: border-box;
  font-family: var(--body-text);
  color: var(--text-color);
}
*:focus-visible {
  outline: 2px solid var(--teal);
}
html, body {
  margin: 0;
  width: 100%;
	height: 100%;
  font-family: var(--body-text);
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  max-width: 1400px;
  padding-inline: 1rem;
  margin-inline: auto;
}

.number, .number * {
  font-family: var(--number-text)!important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  background: var(--yellow);
  border: 2px solid var(--text-color);
  border-radius: var(--border-radius-btn);
  font-weight: 500;
  transition: background .3s;
  cursor: pointer;
  margin-bottom: 1rem;
}
.btn-primary {
  background: var(--yellow);
  border-color: var(--text-color);
  color: var(--text-color);
}
.btn:hover, .btn-primary:hover {
  background: color-mix(in srgb, var(--yellow), black 10%);
}

.btn svg {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  stroke-width: 2;
}

