@import url(./variables.css);

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  width: 100%;
	height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1400px;
  padding-inline: 1rem;
  margin-inline: auto;
}