@import url(./fonts.css);
@import url(./variables.css);



:root {
  --border-color: var(--border-color-light);
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --box-shadow: var(--box-shadow-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: var(--border-color-dark);
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --box-shadow: var(--box-shadow-dark);
  }
}

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  width: 100%;
	height: 100%;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  max-width: 1400px;
  padding-inline: 1rem;
  margin-inline: auto;
}
