---
import Layout from '../layouts/Layout.astro';
import { clients } from '../data-test/dashboard.json';
import ClientSubmissions from '../components/ClientSubmissions.astro';
---

<Layout>
  <div class="container">
    <h1>ACA Submissions</h1>
    {
      clients.map((client) => (
        <ClientSubmissions client={client} />
      ))
    }
  </div>
</Layout>


<style>

</style>