---
  interface Person {
    firstName: string;
    lastName: string;
  }
  
  interface AcaError {
    errorMessage: string;
    errorCode: string;
    excelRow: number;
    submissionRow: number;
    lastName: string;
    firstName: string;
    coveredInd: Person;
  }
  
  interface Submission {
    submittedOn: string;
    lastUpdatedOn: string;
    receiptId: string;
    numberOfRecords: number;
    submissionType: string;
    status: string;
    errors: AcaError[];
  }

  interface Client {
    name: string;
    submissions: Submission[];
    isComplete: boolean;
    taxYear: number;
    originalSubmissionDate: string;
    overallStatus: string;
  }

  interface Props {
    client: Client;
  }

  const { client } = Astro.props;
---

<article class="client-record">
  <h2>{client.name}</h2>
  <p>Tax Year: <span class="number">{client.taxYear.toString()}</span></p>
  <p>{client.overallStatus}</p>
  <p>Initial Submission: <span class="number">{client.originalSubmissionDate}</span></p>
</article>

<style>
  article {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-card);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 1.5rem;
  }
  h2 {
    margin-top: 0;
    color: var(--teal);
  }
</style>