<header>
  <div class="content">
    <a href="/" class="logo"></a>
    <nav>
      <ul>
        <li>
          <a href="/">ACA Filing</a>
        </li>
        <li>
          <a href="#">PDF Generation</a>
        </li>
      </ul>
    </nav>
  </div>
</header>