---
  interface Props {
    message: string;
  }
  
  const { message } = Astro.props;
---

<div class="tooltip-wrapper">
  <slot />
  <div class="tooltip">
    <p>{message}</p>
  </div>
</div>

<style>
  .tooltip-wrapper {
    position: relative;
  }
  .tooltip {
    background: var(--background-color-dark);
    color: var(--text-color-dark);
    padding: 1rem;
    border: 1px solid var(--text-color-dark);
    border-radius: var(--border-radius-btn);
    position: absolute;
    top: 105%;
    max-width: 300px;
    min-width: 150px;
    width: max-content;
    opacity: 0;
    z-index: 0;
    transition: .3s;
    font-size: 0.9rem;
  }
  .tooltip p {
    text-align: center;
    color: var(--text-color-dark);
    margin: 0;
  }
  .tooltip-wrapper:hover .tooltip {
    z-index: 99;
    opacity: 1;
  }
  .tooltip::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--background-color-dark);
    position: absolute;
    top: -5px;
    left: calc(50% - 3px);
  }
</style>

<script lang="JavaScript">
  const tooltips = document.querySelectorAll('.tooltip');
  tooltips.forEach(tooltip => {
    const width = tooltip.clientWidth;
    const wrapperWidth = tooltip.parentElement.clientWidth;
    console.log(width, wrapperWidth);
    tooltip.style.left = (-0.5 * width) + (0.5 * wrapperWidth) - 3 + "px";
  });

</script>